<!doctype html>
<html lang="en">

    <% include ../partials/account %>

  <body class="text-center">

    <% include ../partials/nav %>

        <h1 class="h3 mb-3 font-weight-normal">Delete Product by Id</h1>
        <label for="inputEmail" class="sr-only">Product Id</label>
        
    </form>
</body>
</html>